$color-principal: #f2f2f2;
$color-nav: #bf4080;
$color-footer: #4d0039;
$color-letras-nav: #FFFFFF;
$color-titulo: #262626;
$color-subtitulo: #1a1a1a;
$color-texto: #000000;
$color-links: #FFFFFF;
$color-card: #D7BDE2 ;