/* INDEX */
.h2-margin-modifier {
    margin-bottom: 20px;
}
.container{
    margin-top: 50px;
}

.col-xs-12{
    margin-bottom: 30px;
}

.card-img-padding-modifier {
    padding: 10px 0 ;

}
.box_shadow {
    box-shadow: 5px 10px rgba(153, 153, 153, 0.5);
    
}
